body {
    font-family: 'Courier Prime', monospace;
    height: 100vh;
/*    overflow: hidden;*/
}

.tagline {
  font-size: 14px;
}

#myBtn {
   font-size: 40px;
   color: #800040;
   margin: 0;
   padding: 0 0 0 50px;
}

/* #myBtn:hover {
    color: #545454;
    cursor: pointer;
    text-decoration: none;
} */


.img-fluid {
  border-color: grey;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}

h4 {
   /* font-size: 20px; */
   color: #423d3d;
   margin: 0;
   padding: 0 0 0 50px;
}

div {
    padding: 0 50px;
}

p {
    color: #7b7b7b;
    font-size: 14px;
    text-align: justify;
}

#linkedin-contact:hover {
    background-color: silver;
    cursor: pointer;
    text-decoration: none;
}


#github-contact:hover {
    background-color: silver;
    cursor: pointer;
    text-decoration: none;
}

#email-contact:hover {
    background-color: silver;
    cursor: pointer;
    text-decoration: none;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


.desc {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: grey;
  margin-top: 0;
}


footer {
    font-size: 14px;
    text-align: center;
    color: #800040;
}




@media (min-width: 992px) {
  body {
    padding-top: 40px;
  }
}