body {
    font-family: 'Courier Prime', monospace;
    height: 100vh;
/*    overflow: hidden;*/
}


h1 {
   font-size: 40px;
   color: #800040;
   margin: 0;
   padding: 0 0 0 50px;
}


h1:hover {
    color: #545454;
    cursor: pointer;
}


#myBtn:hover {
    color: grey;
    text-decoration: none;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}


h4 {
   font-size: 16px;
   color: #545454;
   margin: 0;
   padding: 0 0 0 50px;
}


div {
    padding: 0 50px;
}


p {
    color: #7b7b7b;
    font-size: 14px;
    text-align: justify;
}


#linkedin-contact:hover {
    background-color: silver;
    cursor: pointer;
    text-decoration: none;
}


#github-contact:hover {
    background-color: silver;
    cursor: pointer;
    text-decoration: none;
}


#email-contact:hover {
    background-color: silver;
    cursor: pointer;
    text-decoration: none;
}


.row {
  display: flex;
}


.column {
  flex: 33.33%;
  padding: 5px;
}


footer {
    font-size: 14px;
    text-align: center;
    color: #800040;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #0f690f/*#888*/;
  width: 50%;
}


/* The Close Button */
.close {
  color: #800040;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@media (min-width: 992px) {
  body {
    padding-top: 40px;
  }
}